body,
html {
  height: 100%;
}

body {
  font-family: $font-Montserrat;
  font-weight: 500;
  color: $black;
  background-color: $grey-600;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}